<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ucai.ttmusic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".TTApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".controller.service.MusicService" />

        <receiver
            android:name=".controller.receiver.MusciReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="play_init" />
                <action android:name="play_music" />
                <action android:name="play_front" />
                <action android:name="play_next" />
                <action android:name="play_pause" />
                <action android:name="notify_cancel" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".controller.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_style" />

        <activity
            android:name=".controller.activity.PlayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_style" />

        <activity
            android:name=".controller.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_style" />
    </application>

</manifest>